// Color variables
$color-dark-blue: rgb(32, 32, 70);
$color-grayish-blue: hsl(240, 18%, 77%);
$color-background: #f0f0f0;

// Font size Variables
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

$margin-vertical-container: 8.5rem;
$margin-horizental-container: 13rem;

$box-shadow: 0px 10px 26px -4px rgba(0, 0, 0, 0.1);

@mixin transition-normal {
  transition: all 0.5s;
}

@mixin media-x-small {
  @media screen and (max-width: 49.68em) {
    @content;
  }
}

@mixin media-medium {
  @media screen and (max-width: 60.48em) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-background;

  font-size: 1.8rem;
  font-family: "Inter", serif;
  font-weight: $font-weight-light;
  color: $color-dark-blue;
  line-height: 1;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;

  width: calc(68rem + $margin-horizental-container * 2);
  height: calc(34rem + $margin-vertical-container * 2);

  background: url("../../assets/images/pattern-curve.svg"), white;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 0px 100%;
}
