.slider {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &__slider-container {
    display: grid;
    grid-template-columns: 1.1fr 1fr;

    height: 100%;
    max-width: 100%;

    align-items: center;
    align-items: center;

    background: url("../../assets/images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 50%;

    @include transition-normal;
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 54%;
    top: 85%;
    transform: translateY(-50%);

    box-shadow: 0px 0.2rem 2rem rgba(32, 32, 70, 0.2);

    background-color: #fff;

    border-radius: 5rem;
    width: 6rem;
    height: 3rem;

    &--right {
      transform: rotate(180deg);
    }

    &--right,
    &--left {
      max-width: 0.6rem;
    }
  }

  .right-arrow-container,
  .left-arrow-container {
    justify-content: center;
    display: flex;
    flex-basis: 50%;
    align-items: center;

    height: 100%;
    cursor: pointer;
  }
}

.testimonial {
  justify-self: end;
  line-height: 1.6;
  max-width: calc(100% - $margin-horizental-container);
  z-index: 1;
  position: relative;

  &::before {
    z-index: 100;
    content: "";
    width: 7rem;
    height: 100%;

    display: block;
    background: url("../../assets/images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    top: -22%;
    left: 5.5rem;
    position: absolute;
  }

  &__quote {
    margin-bottom: 2rem;
  }

  &__author {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    span {
      color: $color-grayish-blue;
      font-weight: $font-weight-normal;
      margin-left: 0.3rem;
    }
  }
}

.image {
  height: 30rem;
  scale: 1.2;

  &__person {
    height: 100%;
    display: block;
  }
}
