.slider {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 1fr;

  height: 100%;
  width: 100%;

  align-items: center;
  align-items: center;

  @include transition-normal;

  &__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 100%;
    left: 4rem;
    transform: translateY(-50%);

    box-shadow: 0px 2px 20px rgba(32, 32, 70, 0.2);

    background-color: #fff;

    border-radius: 5rem;
    width: 6rem;
    height: 3rem;

    &--right {
      transform: rotate(180deg);
    }

    &--right,
    &--left {
      width: 6px;
    }
  }

  .right-arrow-container,
  .left-arrow-container {
    justify-content: center;
    display: flex;
    flex-basis: 50%;
    align-items: center;

    height: 100%;
    cursor: pointer;
  }
}

.testimonial {
  justify-self: end;
  line-height: 1.6;
  width: calc(100% - $margin-horizental-container);
  z-index: 1;

  &__quote {
    margin-bottom: 2rem;
  }

  &__author {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    span {
      color: $color-grayish-blue;
      font-weight: $font-weight-normal;
      margin-left: 0.3rem;
    }
  }
}

.image {
  height: 30rem;
  scale: 1.2;

  &__person {
    height: 100%;
    display: block;
  }
}
